include ../../pug/vars

.info.sec
  .case
    .info__main.h0 ГОСТ 2020
    .info__subtitle.h2 в соответствии с ГОСТ 30732-2020.
    .info__title.h1 Фасонные изделия ППУ
    .info__wrap.row
      .info__left
        .info__text
          ul
            li отводы ППУ (стандартные, укороченные, вертикальные)
            li тройники ППУ
            li тройниковые ответвления
            li тройники параллельные
            li Z-образные элементы
            li П-образные элементы
            li неподвижные опоры ППУ
      .info__right
        .info__text
          ul
            li скользящие опоры
            li Элементы трубопровода с кабелем вывода
            li концевые элементы трубопровода
            li переходы ППУ
            li шаровые краны ППУ
            li сильфонные компенсаторы
    .info__desc По заданию заказчика, ОТЗ Петал может изготовить фасонные изделия любой сложности и подобрать индивидуальные параметры.
  .lines
