include ../../pug/vars

.consult.sec
  .case
    .consult__main.h0 CONSULT
    .consult__subtitle.h2 поможем. посоветуем
    .consult__title.h1 консультация
    .consult__wrap.row
      .consult__left
        .consult__desc Оставьте заявку и мы с вами свяжемся в ближайшее время
      .consult__right
        .consult__input.input.--gray
          .input__wrap
            .input__title Ваше имя
            input.input__area(type="text" name="name")
        .consult__input.input.--gray.--phone
          .input__wrap
            .input__title Телефон
            input.input__area(type="tel" name="phone")
        .consult__textarea.textarea.--gray
          .textarea__wrap
            .textarea__title Сообщение
            textarea.textarea__area(name="message")
        .consult__grp
          button.consult__btn.btn.--md.--b-blue отправить
          .consult__check.check
            input.check__input(type="checkbox" name="policy" checked="checked")
            .check__wrap
              .check__box
              .check__title Я согласен с политикой конфиденциальности

  .lines

