extends ../../templates/default
block vars
  -
    title = "Трубы-оболочки полиэтиленовые  и оцинкованные"
    breadcrumbs = [
      ['Главная', 'index.html'],
      [title]
    ]
block content
  -
    product = {
      title: 'Трубы-оболочки полиэтиленовые  и оцинкованные',
      gost: 'в соответствии  с ГОСТ 30732-2020',
      img: 'uploads/poly-gal.svg',
      text: '',
      infos: {
        left: [
          {
            head: '<p><u>Применяются</u> в качестве защитного наружного слоя для труб ППУ  для подземной прокладки в соответствии с ГОСТ 30732-2020.</p><p><u>Для подземной прокладки</u> используются трубы-оболочки полиэтиленовые (ПЭ), а <u>для надземной</u> - оцинкованные (ОЦ).</p>',
            body: '<p>Оболочки представляют собой тонкостенные кожухи, обеспечивающие водонепроницаемость и защиту от механических повреждений труб ППУ.</p>',
          },
          {
            head: '<p>ОТЗ «Петал» производит <u>трубы-оболочки (ПЭ) диаметром:</u></p><ul><li>от 110 мм до 560 мм</li></ul>',
            body: '',
          },
        ],
        right: [
          {
            head: '<p><u>трубы-оболочки (ОЦ)</u></p><ul><li><u>толщиной</u> от 0,5 мм до 1,0 мм</li><li><u>диаметром</u> до от 110 мм до 900 мм</li></ul>',
            body: '',
          },
        ],
      }

    }
  include ../../../blocks/product/product

  -
    images = [
      'uploads/poly-gal/poly-gal-1.jpg',
      'uploads/poly-gal/poly-gal-2.jpg',
      'uploads/poly-gal/poly-gal-3.jpg',
      'uploads/poly-gal/poly-gal-4.jpg',
      'uploads/poly-gal/poly-gal-4.jpg',
    ]
  include ../../../blocks/images/images


  include ../../../blocks/order/order


  .data
    .case
      .data__tables.--w2
        table.data__table
          thead
            tr
              th изделие (ПЭ)
              th Наружный диаметр <br>оболочки, мм
              th Толщина стенки, мм
          tbody
            tr
              td Труба-оболочка
              td Ø 110
              td 2,5
            tr
              td Труба-оболочка
              td Ø 125
              td 2,5
            tr
              td Труба-оболочка
              td Ø 140
              td 3,0
            tr
              td Труба-оболочка
              td Ø 160
              td 3,0
            tr
              td Труба-оболочка
              td Ø 180
              td 3,0
            tr
              td Труба-оболочка
              td Ø 200
              td 3,2
            tr
              td Труба-оболочка
              td Ø 225
              td 3,5
            tr
              td Труба-оболочка
              td Ø 250
              td 3,9
            tr
              td Труба-оболочка
              td Ø 280
              td 4,4
            tr
              td Труба-оболочка
              td Ø 315
              td 4,9
            tr
              td Труба-оболочка
              td Ø 355
              td 5,6
            tr
              td Труба-оболочка
              td Ø 400
              td 5,6
            tr
              td Труба-оболочка
              td Ø 450
              td 5,6
            tr
              td Труба-оболочка
              td Ø 500
              td 6,2
            tr
              td Труба-оболочка
              td Ø 560
              td 7,0
        table.data__table
          thead
            tr
              th изделие (ПЭ)
              th Наружный диаметр <br>оболочки, мм
          tbody
            tr
              td Труба-оболочка
              td Ø 125
            tr
              td Труба-оболочка
              td Ø 140
            tr
              td Труба-оболочка
              td Ø 160
            tr
              td Труба-оболочка
              td Ø 180
            tr
              td Труба-оболочка
              td Ø 200
            tr
              td Труба-оболочка
              td Ø 225
            tr
              td Труба-оболочка
              td Ø 250
            tr
              td Труба-оболочка
              td Ø 315
            tr
              td Труба-оболочка
              td Ø 400
            tr
              td Труба-оболочка
              td Ø 450
            tr
              td Труба-оболочка
              td Ø 500
            tr
              td Труба-оболочка
              td Ø 560
            tr
              td Труба-оболочка
              td Ø 675
            tr
              td Труба-оболочка
              td Ø 710
            tr
              td Труба-оболочка
              td Ø 775
            tr
              td Труба-оболочка
              td Ø 800
            tr
              td Труба-оболочка
              td Ø 875
            tr
              td Труба-оболочка
              td Ø 900
            tr
              td Труба-оболочка
              td Ø 975
            tr
              td Труба-оболочка
              td Ø 1000

  -
    advantages = [
      {
        title: 'Небольшой  вес',
        text: 'их легко транспортировать  и производить укладку'
      },
      {
        title: 'срок  эксплуатацииа',
        text: 'продолжительный срок эксплуатации'
      },
      {
        title: 'просты в обслуживании',
        text: 'не требуют затратных восстановительных работ'
      },
      {
        title: 'Низкая теплопроводность',
        text: 'позволяет сократить потери тепла в отопительных сетях  и системах водоснабжения'
      },
    ]
  include ../../../blocks/advantages/advantages

  include ../../../blocks/news/news
  
