include ../../pug/vars

.steps.sec
  .case
    .steps__main.h0 TIME WOR
    .steps__subtitle.h2 хронология процесса
    .steps__title.h1 этапы работы
    .steps__list
      -
        steps = [
          {
            img: 'uploads/steps/step-1.png',
            text: 'Участок по производству ПЭ <br>и Участок по производству <br>трубы пнд ду 110мм-450мм'
          },
          {
            img: 'uploads/steps/step-2.png',
            text: 'Участок по производству ОЦ <br>оболочки <br>для труб ППУ '
          },
          {
            img: 'uploads/steps/step-3.png',
            text: 'Сборка и заливка <br>труб в ППУ'
          },
          {
            img: 'uploads/steps/step-4.png',
            text: 'Сварочный цех. Сварщики работают  на оборудовании бесконтактной сварки и имеют аттестацию НАКС'
          },
          {
            img: 'uploads/steps/step-5.png',
            text: 'Цех сборки и изоляции <br>фасонных изделий в ППУ'
          },
          {
            img: 'uploads/steps/step-6.png',
            text: 'Участок по производству <br>термомуфт <br>и комплектующих'
          },
          {
            img: 'uploads/steps/step-7.png',
            text: 'Участок по производству <br>трубы пнд ду 20мм-63мм'
          },
          {
            img: 'uploads/steps/step-8.png',
            text: 'Цех по производству <br>скорлупы ППУ'
          },
          {
            img: 'uploads/steps/step-9.png',
            text: 'Участок по изоляции ВУС на <br>основе экструдированного <br>полиэтилена'
          },
          {
            img: 'uploads/steps/step-10.png',
            text: 'Лаборатория для проверки <br>и контроля качества сырья и <br>готовой продукции'
          },
        ]
      if steps
        each step, index in steps
          - counter = index + 1
          .steps__item
            .steps__img.img
              img(src=step.img alt="")
            .steps__control #[div.steps__dot]
            .steps__content
              .steps__count= counter < 10 ? '0' + counter : counter
              .steps__text!= step.text

      .steps__feedback
        a.steps__feedback-btn.button.--md.--b-blue(href="#modal-order" data-fancybox="") #[span связаться с нами]
        .steps__feedback-dot.steps__dot


  .lines
