  -
    product = {
      title: ' трубы и фасонные изделия в ППУ',
      gost: 'в соответствии  с ГОСТ 30732-2020',
      img: 'uploads/',
      text: '<ul><li>Труба ППУ (труба стальная ППУ (ПЭ и ОЦ),</li> <li>труба ПНД ППУ,</li> <li>труба с греющим кабелем в ППУ,</li> <li>труба со спутником в ППУ</li></ul>',
      infos: {
        left: [
          {
            head: '<h3></h3><p></p>',
            body: '<p></p>',
          },
          {
            head: '<h3></h3><ul><li></li><li></li><li></li><li></li><li></li><li></li></ul>',
            body: '<p></p>',
          },
        ],
        right: [
          {
            head: '<h3></h3><ul><li></li><li></li></ul>',
            body: '<p></p>',
          },
          {
            head: '',
            body: '<p></p>',
          },
        ],
      }

    }
  include ../../../blocks/product/product

