extends ../../templates/default
block vars
  -
    title = "Трубы ВУС"
    breadcrumbs = [
      ['Главная', 'index.html'],
      [title]
    ]
block content
  -
    product = {
      title: 'трубы ВУС',
      gost: 'в соответствии  с ГОСТ 9.602-2016',
      img: 'uploads/vys.svg',
      text: 'Технология «весьма усиленной» (ВУС) двухслойной антикоррозионной изоляции трубопроводов <u>признана</u> в мировой практике наиболее эффективной изоляцией трубопроводов от коррозии.',
      infos: {
        left: [
          {
            head: '<p><u>Защита от коррозии</u> стальных труб трехслойным покрытием усиленного типа выполняется в соответствии с ГОСТ 9.602-2016</p><ul><li>первым защитным слоем служит полимерная грунтовка;</li><li>на загрунтованную поверхность трубы наматывается полиэтиленовая   лента с липким слоем,толщиной не менее 0,45 мм</li><li>третьим защитным слоем служит полиэтилен, который наносится непосредственно экструдером в виде расплавленной ленты</li></ul>',
            body: '',
          },
          {
            head: '<p><u>Технология нанесения</u> экструдированного полиэтилена с твердым адгезивным подслоем в заводских условиях с пооперационным контролем изоляции <u class="no-tuc">позволяет достичь</u> значительно более высоких качественных показателей покрытия, что способствует долгой (не менее 30 лет)  и безаварийной эксплуатации трубопроводов.</p>',
            body: '',
          },
        ],
        right: [
          {
            head: '',
            body: '<p>Стальные трубы с наружным двухслойным антикоррозионным покрытием из экструдированного полиэтилена предназначены для:</p><ul><li>газо-, нефте-, водопроводов для подземной и подводной прокладки  с температурой эксплуатации до + 60°С.</li></ul>',
          },
        ],
      }

    }
  include ../../../blocks/product/product

  -
    images = [
      'uploads/vys/vys-1.jpg',
      'uploads/vys/vys-2.jpg',
      'uploads/vys/vys-3.jpg',
      'uploads/vys/vys-4.jpg',
      'uploads/vys/vys-4.jpg',
    ]
  include ../../../blocks/images/images

  include ../../../blocks/order/order


  -
    advantages = [
      {
        title: 'высокий <br>уровень защиты',
        text: 'металла от коррозии'
      },
      {
        title: 'защита <br>трубопровода',
        text: 'от блуждающих токов'
      },
      {
        title: 'невысокая стоимость',
        text: 'используемых материалов'
      },
      {
        title: 'защита <br>трубы',
        text: 'от кислотного воздействия почвы'
      },
    ]
  include ../../../blocks/advantages/advantages

  include ../../../blocks/news/news
  
  
