extends ../../templates/default
block vars
  -
    title = "Главная страница"
    breadcrumbs = [
      ['Главная', 'index.html'],
      [title]
    ]
block content
  include ../../../blocks/intro/intro

  -
    advantagesClass = '--steps'
    advantagesType = 'steps'
    advantages = [
      {
        count: '21',
        name: 'год на рынке',
        text: 'Очень хорошо знаем свое <br>дело. Работаем на рынке <br>теплоизоляционных <br>материалов с 2001 года'
      },
      {
        count: '50',
        name: 'сотрудников',
        text: 'С высокой <br>квалификацией работает на заводе. <br>Выпускаемая продукция проходит <br>контроль качества'
      },
      {
        count: '400',
        name: 'клиентов',
        text: 'Работают с нами <br>на постоянной основе. <br>С некоторыми клиентами <br>мы сотрудничаем  по 8-15 лет'
      },
      {
        count: '4000',
        name: 'м.кв',
        text: 'Площадь завода. <br>Это позволяет работать  <br>с большим количеством <br>заказов'
      },
    ]
  include ../../../blocks/advantages/advantages
  
  include ../../../blocks/catalog/catalog

  include ../../../blocks/consult/consult
  
  include ../../../blocks/geo/geo

  include ../../../blocks/news/news
