include ../../pug/vars

.certs.sec
  .case
    .certs__main.h0 ГОСТ 2020
    .certs__subtitle.h2 в соответствии с ГОСТ 30732-2020.
    .certs__title.h1 сертификаты
    .certs__list.row
      a.certs__item(href="")
        .certs__item-img
          img(src="" alt="")
        .certs__item-name СЕРТИФИКАТ БЕЗОПАСНОТИ
        .certs__item-desc в соответствии с ГОСТ 30732-2020
  .lines
