include ../../pug/vars

.certs.sec
  .case
    .certs__main.h0 ГОСТ 2020
    .certs__subtitle.h2 в соответствии с ГОСТ 30732-2020.
    .certs__title.h1 сертификаты
    .certs__list.row
      each item, index in [1, 2, 3, 4]
        a.certs__item(href="uploads/news-item.jpg" data-fancybox="")
          .certs__item-img
            img(src="uploads/icons/certificate-gray.svg" alt="")
            img(src="uploads/icons/certificate-blue.svg" alt="")
          .certs__item-name СЕРТИФИКАТ БЕЗОПАСНОТИ
          .certs__item-desc в соответствии <br>с ГОСТ 30732-2020
  .lines
