include ../../pug/vars

.order.sec
  .case
    .order__btn.btn.--md
    .order__wrap.row
      .order__inner
        .order__icon
          img(src="" alt="")
        .order__text
          .order__title сЕРТИФИКАТ БЕЗОПАСНОТИ
          .order__desc в соответствии с ГОСТ 30732-2020
      .order__policy.check
        input.check__input(type="checkbox" name="policy" checked="checked")
        .check__wrap
          .check__box
          .check__title Я согласен с политикой конфиденциальности
  .lines
    
