include ../../pug/vars

.intro.sec
  .case
    .intro__wrap
      .intro__desc омский трубный завод
      .intro__name PETAL
      .intro__text Качественные теплоизоляционные материалы на основе ППУ, фасонные изделия и комплектующие для тепловых сетей и систем водоснабжения
      .intro__foot.row
        .intro__year 21 год на рынке
        .intro__volume
          img(src="uploads/icons/volume.png")
  .intro__video
    video(muted="" autoplay="" loop="")
      source(src="uploads/intro-video.mp4" type="video/mp4")
  .lines

  
    
