include ../../pug/vars

.production.sec
  .case
    .production__main.h0 ABOUT
    .production__subtitle.h2 Омский трубный завод «Петал» 
    .production__title.h1 наше произвоство
    .production__wrap.row
      .production__content
        h4 За более, чем 20 лет работы ООО “ОТЗ “Петал” разработал эффективную технологию, которая позволяет производить более 1500 метров трубы в ППУ, более 2000 полиэтиленовой трубы в сутки.
        p Наше производство разделено на участки, благодаря чему, <br> #[u завод может одновременно производить: ]
        ul
          li трубы в ППУ
          li фасонные изделия в ППУ
          li трубы напорные
          li трубы ВУС
      .production__img.img
        img(src="uploads/" alt="")

  .lines
