extends ../../templates/default
block vars
  -
    title = ""
    breadcrumbs = [
      ['Главная', 'index.html'],
      [title]
    ]
block content
  .news-item.sec.first
    .case
      .news-item__inner
        .news-item__main.h0 OBJECT
        .news-item__subtitle.h2 9 мая 2021
        .news-item__title.h1 завершенный объект в “жк новый век”
        .news-item__content
          .news-item__img.img
            img(src="uploads/news-item.jpg" alt="")
          .news-item__text
            p <u>2001 год</u> – начало работы омского трубного завода «Петал» на рынке теплоизоляционных материалов.
            p ОТЗ «Петал» ведущий региональный производитель трубопроводных систем в пенополиуретановой изоляции, используемых для тепловых сетей, а также нефтегазопроводов. За время работы предприятие зарекомендовало себя, как производитель качественной продукции  на основе пенополиуретанов (ППУ).
            p <u>производим</u> трубы ППУ и фасонные изделия к ним диаметром  от 20мм до 1220мм. Продукция выпускается по ГОСТ 30732-2006, имеет все необходимые сертификаты и паспорта качества.
            p <u>Выпускаем</u> трубы-спутники ППУ (несколько труб в одной оболочке),  трубы с греющим кабелем, трубы с кабель-каналом (для греющего кабеля), трубы полиэтиленовые в ППУ изоляции, трубы ППУ  с бандажом (усиленная полиэтиленовая оболочка). Все трубы изолируются по ГОСТ 30732-2006.
    .lines
  
