include ../../pug/vars

.catalog.sec
  .case
    .catalog__main.h0 PRODUCT
    .catalog__subtitle.h2 актуально в данный момент
    .catalog__title.h1 продукция
  .catalog__list
    -
      catalog = [
        {
          title: 'Трубы и фасонные изделия в ППУ ГОСТ 30732-2020',
          desc: 'применяются в теплоизоляции для <br>бесканальной прокладки как надземных, так <br>и подземных тепловых сетей',
          link: 'pipes-fittings.html',
        },
        {
          title: 'Скорлупа ППУ',
          desc: 'устанавливаются непосредственно на <br>трубопровод с помощью хомутов (ленточных или <br>проволочных) или же клеевых составов',
          link: 'shell.html',
        },
        {
          title: 'Трубы полиэтиленовые (ПНД) ГОСТ 18599',
          desc: 'трубы из полиэтилена низкого давления, <br>диаметром от 20 мм до 450 мм для систем <br>водоснабжения и канализации',
          link: 'polyethylene.html',
        },
        {
          title: 'Трубы-оболочки полиэтиленовые (ПЭ) и оцинкованные (ОЦ)',
          desc: 'используются в качестве оболочки для труб <br>ППУ, выпускаемых по ГОСТ 30732',
          link: 'poly-gal.html',
        },
        {
          title: 'Трубы ВУС <br>ГОСТ 9.602-2016',
          desc: 'предназначены для газо-, нефте-, водопроводов <br>для подземной и подводной прокладки <br>с температурой эксплуатации до + 60°С',
          link: 'vys.html',
        },
      ]
    if catalog
      each item, index in catalog
        a.catalog__item.row(href=item.link)
          .case
            .catalog__item-inner
              .catalog__item-count= '0' + (index + 1)
              .catalog__item-img.img
                img(src='uploads/catalog/catalog-' + (index + 1) + '.jpg')
              .catalog__item-content
                .catalog__item-title!=item.title
                .catalog__item-desc!=item.desc
              .catalog__item-arrow
                <svg width="17" height="24" viewBox="0 0 17 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M2.2002 2.14355L12.0557 11.9991L2.2002 21.8546"  stroke-width="6"/> </svg>

  .lines
