include ../../pug/vars

.geo.sec
  .case
    .geo__main.h0 GEO MAP
    .geo__subtitle.h2 доставка осуществляется по России и странам СНГ
    .geo__title.h1 География
    .geo__map
      img(src="uploads/geo.png" alt="")
  .lines
    
