include ../../pug/vars

.images.sec
  .case
    if images
      .images__list.row
        each item in images
          a.images__item.img(href=item data-fancybox="")
            img(src=item alt="")
  .lines
    
