include ../../pug/vars

.images.sec
  .case
    .images__cert.order__inner
      .order__icon
        img(src="uploads/icons/cert-medal.png" alt="")
      .order__text
        .order__title сЕРТИФИКАТ БЕЗОПАСНОТИ
        .order__desc в соответствии <br>с ГОСТ 30732-2020
    if images
      .images__list.row
        each item in images
          a.images__item.img(href=item data-fancybox="")
            img(src=item alt="")
  .lines
    
