extends ../../templates/default
block vars
  -
    title = "Трубы и фасонные изделия в ППУ"
    breadcrumbs = [
      ['Главная', 'index.html'],
      [title]
    ]
block content
  -
    product = {
      title: 'трубы и фасонные изделия в ППУ',
      gost: 'в соответствии  с ГОСТ 30732-2020',
      img: 'uploads/',
      text: '<ul><li>Труба ППУ (труба стальная ППУ (ПЭ и ОЦ),</li> <li>труба ПНД ППУ,</li> <li>труба с греющим кабелем в ППУ,</li> <li>труба со спутником в ППУ</li></ul>',
      infos: {
        left: [
          {
            head: '<p><u>Трубы ППУ выпускаются по технологии  «труба в трубе»</u></p><p>конструкция включает в себя стальную трубу, защитную оболочку (ПЭ или ОЦ) и слой пенополиуретана (ППУ)</p>',
            body: '<p>В качестве изолируемой трубы используются различные стальные трубы в зависимости от технического задания.</p>',
          },
          {
            head: '<p><u>Изолируемые трубы МОГУТ БЫТЬ:</u></p><ul><li>электросварные прямошовные</li><li>бесшовные</li><li>оцинкованные</li><li>водо-газопроводные (ВГП)</li><li>различной стали (ст 3, 10, 20, 09Г2С, 17Г1С)</li><li></li></ul>',
            body: '',
          },
        ],
        right: [
          {
            head: '<p><u>Трубы ППУ используются  для прокладки тепловых сетей: </u></p><ul><li><u>подземных</u> – в полиэтиленовой оболочке (ПЭ оболочка)- ППУ-ПЭ,</li><li><u>надземных</u> – в оцинкованной оболочке (ОЦ оболочка)- ППУ-ОЦ.</li></ul>',
            body: '<p>В соответствие с условиями эксплуатации и техническим заданием изоляция может быть стандартной (тип 1) или усиленной (тип 2).</p>',
          },
          {
            head: '',
            body: '<p>В соответствие с условиями эксплуатации и техническим заданием изоляция может быть стандартной (тип 1) или усиленной (тип 2).</p>',
          },
        ],
      }

    }
  include ../../../blocks/product/product

  include ../../../blocks/info/info

  -
    images = [
      'uploads/',
      'uploads/',
      'uploads/',
      'uploads/',
      'uploads/',
    ]
  include ../../../blocks/images/images

  include ../../../blocks/order/order


  -
    advantages = [
      {
        title: 'Срок службы  25-30 лет',
        text: 'Что намного больше срока службы обычных традиционных сетей (7-10 лет). Столь большая разница в сроке службы обусловлена коррозийной стойкостью труб ППУ'
      },
      {
        title: 'Срок строительства ',
        text: 'Строки строительства сокращаются до 2-3 раз, значительно уменьшаются затраты'
      },
      {
        title: 'дистанционный контроль',
        text: 'Появляется возможность применения технологии дистанционного контроля и оценки исправности сетей (система ОДК)'
      },
      {
        title: 'бесканальная прокладка',
        text: 'Благодаря возможности бесканальной прокладки значительно сокращается трудоёмкость работы и затраченное время, значительно упрощает технологию'
      },
      {
        title: 'сокращение расходов',
        text: 'На эксплуатацию'
      },
      {
        title: 'снижаются Потери тепла в 8-10 раз',
        text: 'По сравнению с традиционной изоляцией, что позволяет снизить выбросы в атмосферу'
      },
      {
        title: 'нетоксичный <br>ппу',
        text: 'Экологически безопасный материал'
      },
    ]
  include ../../../blocks/advantages/advantages

  include ../../../blocks/news/news
