@import fonts
@import vars
@import reset
@import grid

@import ../components/button/button
@import ../components/field/field
@import ../components/check/check
// @import ../components/select/select
// @import ../components/popup/popup
// @import ../components/tabs/tabs
// @import ../components/popup/popup
// @import ../components/slider/slider
// @import ../components/tog/tog

@import typography

.overflow-disable
  overflow: hidden

.img
  img
    width: 100%
    height: 100%
    object-fit: cover

.wrap
  overflow-x: hidden

.h0
  position: absolute
  opacity: .1
  z-index: -3
  font-size: 368px
  line-height: 1
  font-weight: 600
  color: #C4C4C4
  white-space: nowrap
  left: -45px

.h1
  font-size: 78px
  line-height: 1
  font-weight: 500
  letter-spacing: 0.05em
  text-transform: uppercase
  color: $blue
  margin-left: 290px
  a
    color: $blue

.h2
  font-size: 18px
  line-height: 1.25
  letter-spacing: 8px
  text-transform: uppercase
  color: #277885
  margin-left: 295px
  white-space: nowrap
  a
    color: #277885


.sec
  position: relative

.lines
  div
    z-index: -10
    position: absolute
    top: 0
    bottom: 0
    width: 1px
    left: 50%
    background: #F7F7F7
    transition: .3s
    &:nth-of-type(1)
      margin-left: -590px
    &:nth-of-type(2)
      margin-left: -295px
    &:nth-of-type(4)
      margin-left: 295px
    &:nth-of-type(5)
      margin-left: 590px

.header
  z-index: 100
  position: fixed
  top: 0
  left: 0
  right: 0
  &.--white
    .panel
      border-color: transparent
      background: transparent
      a
        color: #fff
      &__desc
        // font-weight: 700
        color: rgba(255,255,255,0.7)
        border-left: 2px solid rgba(255,255,255,0.4)
      &__logo
        img
          &:nth-of-type(1)
            opacity: 1
          &:nth-of-type(2)
            opacity: 0
      &__ham
        div
          background: #fff
      .lines
        div
          opacity: 0
  &.--open
    .panel
      &__ham
        div
          background: #9091A9 !important
          &:nth-of-type(1)
            top: 9px
            transform: rotate(-45deg)
          &:nth-of-type(2)
            opacity: 0
          &:nth-of-type(3)
            width: 25px
            top: -9px
            transform: rotate(45deg)
        
    .nav
      opacity: 1
      visibility: visible




.panel
  position: relative
  padding-top: 46px
  padding-bottom: 28px
  transition: .3s
  border-bottom: 1px solid #C4C4C4
  background: #fff
  a
    transition: .3s
  &__wrap
    // align-items: center
  &__logo
    position: relative
    width: 80px
    margin-top: 5px
    border-bottom: none
    img
      position: absolute
      top: 0
      left: 0
      transition: .3s
      &:nth-of-type(1)
        opacity: 0
  &__desc
    min-height: 32px
    margin-left: 13px
    margin-right: 60px
    padding-left: 13px
    border-left: 2px solid rgba(#363838, 0.2)
    font-size: 10px
    font-weight: 600
    line-height: 1.37
    letter-spacing: 1px
    text-transform: uppercase
    transition: .3s
    color: #727474
    opacity: 0.7
    min-width: 15px
    padding-top: 3px
  &__phone
    font-size: 15px
    line-height: 24px
    font-weight: 600
    letter-spacing: 3px
    text-transform: uppercase
    margin-right: 115px
    min-width: 180px
    a
      color: $blue
  &__email
    font-size: 15px
    line-height: 24px
    font-weight: 600
    letter-spacing: 3px
    text-transform: uppercase
    a
      color: $blue
  &__ham
    z-index: 120
    position: fixed
    right: 50%
    top: 50px
    display: flex
    flex-direction: column
    align-items: flex-end
    margin-left: auto
    cursor: pointer
    margin-right: -590px
    div
      height: 3px
      margin-bottom: 6px
      transition: .3s
      background: $blue
      transition: .3s
      position: relative
      &:nth-of-type(1)
        width: 25px
      &:nth-of-type(2)
        width: 12px
      &:nth-of-type(3)
        width: 18px
        margin-bottom: 0
        
  



.nav
  // display: none
  z-index: 110
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #F9F9F9
  opacity: 0
  visibility: hidden
  transition: .3s
  overflow: hidden
  .case
    height: 100%
  &__wrap
    padding-top: 175px
    height: 100%
  &__left
    display: flex
    flex-direction: column
    width: 50%
    height: 100%
  &__socials
    margin-bottom: 24.5px
  &__phone
    font-size: 23px
    line-height: 1.5
    font-weight: 900
    letter-spacing: 2px
    text-transform: uppercase
    a
      color: #9091A9
  &__email
    font-size: 12px
    line-height: 20px
    font-weight: 600
    letter-spacing: 1px
    text-transform: uppercase
    margin-bottom: 37px
    a
      color: #9091A9
  &__address
    font-size: 14px
    line-height: 1.3
    font-weight: 500
    color: #9091A9
  &__company
    margin-top: auto
    padding-bottom: 155px
  &__desc
    margin-left: 5px
  &__name
    font-size: 68px
    line-height: 1
    color: #9091A9
    font-weight: 600
    letter-spacing: 56px
    margin-top: 56px
    letter-spacing: 53px
  &__title
    bottom: -57px
    left: -310px
  &__right
    width: 50%
  &__list
    display: flex
    flex-direction: column
    align-items: flex-end
  &__item
    display: flex
    flex-direction: column
    align-items: flex-end
    &.--has-nav
      > .nav
        &__link
          // font-size: 18px
          color: $blue
          padding-right: 20px
          &:after
            content: ''
            position: absolute
            top: 50%
            right: -6px
            width: 6px
            height: 16px
            background: $blue
            transform: translateY(-50%)

  &__link
    position: relative
    color: #9091A9
    font-size: 24px
    line-height: 55px
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 1px
    &:hover
      color: $blue
  &__sub
    display: flex
    flex-direction: column
    align-items: flex-end
    padding-top: 20px
    padding-bottom: 50px
    .nav
      &__link
        font-size: 18px
        line-height: 36px
        font-weight: 400
        letter-spacing: 0.02em
  &__blocks
    &:before, &:after
      content: ''
      z-index: -1
      position: absolute
      top: 0
      width: 22px
      height: 180px
      left: 50%
      background: #F5F5F5
      transition: .3s
    &:before
      margin-left: -590px
      top: 115px
    &:after
      margin-left: -295px
      top: 225px
  .lines
    div
      opacity: .6
      background: #E1E1E1

.socials
  &__list
    margin-left: -3px
    margin-right: -3px
  &__item
    margin-left: 3px
    margin-right: 3px
    border-bottom: none
    &:hover
      svg
        path
          fill: $blue


.intro
  position: relative
  height: 100vh
  min-height: 665px
  padding-top: 120px
  display: flex
  align-items: center
  justify-content: center
  color: #fff
  &:before
    z-index: -1
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: linear-gradient(0deg, rgba(40, 104, 164, 0.7), rgba(40, 104, 164, 0.7))
  &__desc
    font-size: 24px
    line-height: 1
    font-weight: 600
    letter-spacing: 15.4px
    text-transform: uppercase
    margin-bottom: 56px
  &__name
    font-size: 150px
    line-height: 1
    font-weight: 600
    letter-spacing: 55px
    text-shadow: 9px 8px 9px rgba(0, 0, 0, 0.18)
    margin-left: -9px
  &__text
    margin-top: 12px
    margin-left: 50%
    max-width: 465px
    line-height: 1.54
    font-weight: 500
    letter-spacing: 0.07em
  &__foot
    margin-top: 43px
    padding-left: 295px
  &__year
    font-size: 17px
    line-height: 1.25
    font-weight: 700
    letter-spacing: 3px
    text-transform: uppercase
    &:after
      display: block
      content: ''
      width: 55px
      height: 7px
      background: #fff
      margin-top: 13px
  &__volume
    position: relative
    display: flex
    align-items: center
    justify-content: center
    width: 72px
    height: 72px
    border: 2px solid #FFFFFF
    border-radius: 50%
    margin-left: auto
    cursor: pointer
    &:before
      content: ''
      position: absolute
      top: 50%
      left: 50%
      width: 2px
      height: 0
      // height: 70px
      background: #fff
      transition: .3s
      transform: translate(-50%, -50%) rotate(-45deg)
    &.--unmute
      &:before
        height: 70px
  &__video
    z-index: -20
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    video
      width: 100%
      height: 100%
      object-fit: cover
  .lines
    div
      opacity: .4
      background: #BFDDE8



.advantages
  .case
    // overflow: hidden
  &__inner
    padding-top: 170px
    padding-bottom: 60px
  &__main
    top: 35px
  &__subtitle
    margin-bottom: 36px
  &__title
    margin-bottom: 125px
  &__list
    margin-left: -10px
    margin-right: -10px
  &__item
    width: calc(100% / 4)
    padding-left: 10px
    padding-right: 10px
    margin-left: -5px
    margin-bottom: 40px
    &:first-of-type, &:nth-of-type(5n)
      margin-left: 0px
  &.--steps
    padding-bottom: 235px
    .advantages
      &__item
        &:nth-of-type(even)
          margin-top: 203px

.advantage
  &__head
    display: flex
    margin-bottom: 18px
  &__count
    font-size: 54px
    line-height: 1
    padding-top: 26px
    color: $blue
  &__name
    line-height: 1.2
    font-weight: 700
    letter-spacing: 3px
    text-transform: uppercase
    margin-left: 10px
    color: $blue
  &__value
    font-size: 54px
    line-height: 1
    color: rgba(138, 138, 138, 0.2)
    letter-spacing: 0.05em
    text-transform: uppercase
    margin-bottom: 10px
  &__title
    min-height: 42px
    line-height: 1.05
    font-weight: 700
    color: $blue
    letter-spacing: 3px
    text-transform: uppercase
    margin-bottom: 25px
  &__text
    opacity: .7
    font-size: 17px
    line-height: 1.25


.catalog
  padding-top: 125px
  padding-bottom: 88px
  &__main
    margin-top: -125px
  &__subtitle
    margin-bottom: 35px
  &__title
    margin-bottom: 155px
  &__item
    border-bottom: none
    &:last-child
      .catalog
        &__item
          &-inner
            border-bottom: 1px solid rgba(#046ECD, 0.2)
    &:hover
      color: #fff
      background: $blue
      .catalog
        &__item
          &-count, &-title
            color: #fff
          &-arrow
            border-color: #fff
            path
              stroke: #fff
    &-inner
      display: flex
      align-items: center
      border-top: 1px solid rgba(#046ECD, 0.2)
    &-count
      width: 170px
      min-width: 170px
      font-size: 54px
      font-weight: 500
      line-height: 1
      letter-spacing: 0.05em
      text-transform: uppercase
      color: $blue
      padding-left: 3px
      transition: .3s
    &-img
      width: 294px
      min-width: 294px
      height: 294px
    &-content
      width: 375px
      margin-left: 62px
    &-title
      font-weight: 700
      line-height: 1.19
      letter-spacing: 3px
      text-transform: uppercase
      color: $blue
      transition: .3s
      margin-bottom: 37px
      &.--hidden
        display: none
      &:last-child
        margin-bottom: 0
    &-desc
      opacity: .7
      font-size: 17px
      line-height: 1.25
    // &-icon
    &-arrow
      display: flex
      align-items: center
      justify-content: center
      width: 75px
      height: 75px
      border: 2px solid $blue
      border-radius: 50%
      margin-left: auto
      margin-right: 110px
      transition: .3s
      padding-left: 2px
      path
        stroke: $blue

      
.consult
  padding-top: 220px
  padding-bottom: 180px
  &__main
    margin-top: -125px
  &__subtitle
    margin-bottom: 35px
  &__title
    margin-bottom: 55px
  &__left
    width: 272px
  &__desc
    opacity: 0.8
    font-weight: 300
    line-height: 1.64
  &__right
    width: 50%
    padding-left: 37px
    margin-left: auto
  &__form
    display: flex
    flex-wrap: wrap
  &__input
    margin-bottom: 90px
  &__form
    margin: 0 -20px -80px
  &__field
    width: calc(100% / 2 - 40px)
    margin: 0 20px 80px
  &__grp
    width: 125px
    margin-left: auto
    margin-right: 20px
  &__check
    margin-top: 28px


.geo
  padding-top: 100px
  padding-bottom: 85px
  &__main
    top: -100px
  &__subtitle
    margin-bottom: 42px
    max-width: 465px
    white-space: normal
  &__title
    margin-bottom: 46px
  &__map
    margin-left: -8px
    width: 1361px

.news
  padding-top: 125px
  padding-bottom: 155px
  &__main
    margin-top: -125px
  &__subtitle
    margin-bottom: 35px
  &__title
    margin-bottom: 162px
  &__slider
    overflow: visible
  &__item
    display: flex
    align-items: center
    width: 590px
    opacity: 0.1
    pointer-events: none
    transition: .3s
    &.swiper-slide-active, &.swiper-slide-next
      opacity: 1
      pointer-events: auto
    &:hover
      .news
        &__item
          &-img
            &:before
              opacity: 0
          &-title
            color: $blue
    &-img
      position: relative
      width: 295px
      height: 438px
      &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        transition: .3s
        background: linear-gradient(0deg, rgba(87, 118, 147, 0.5), rgba(87, 118, 147, 0.5))
    &-content
      width: calc(100% - 295px)
      padding: 40px 60px 40px 40px
    &-title
      line-height: 1.19
      font-weight: 700
      color: #9091A9
      margin-bottom: 28px
      letter-spacing: 3px
      transition: .3s
      text-transform: uppercase
    &-date
      opacity: 0.7
      font-size: 17px
      line-height: 1.25
      text-transform: uppercase

.footer
  &__top
    padding-top: 55px
    padding-bottom: 40px
    background: #F9F9F9
    .lines
      div
        opacity: 1
        background: #F3F3F3
  &__left
    width: 590px
  &__mid
    width: 295px
  &__right
    width: 295px
  &__company
    display: none
  &__phone
    font-size: 36px
    line-height: 1.5
    font-weight: 900
    letter-spacing: 2px
    text-transform: uppercase
    margin-bottom: 2px
    a
      color: #9091A9
  &__email
    line-height: 1.64
    font-weight: 900
    letter-spacing: 2px
    text-transform: uppercase
    margin-bottom: 1px
    a
      color: #9091A9
  &__address
    line-height: 26px
    color: #9091A9
    text-transform: uppercase
    padding-top: 36px
    font-weight: 900
  &__socials
    margin-top: 56px
  &__links
    display: none
  &__bot
    padding-top: 37px
    padding-bottom: 12px
    color: #9091A9
    font-size: 12px
    line-height: 1.64
    a
      color: #9091A9
    &-wrap
      align-items: center
  &__policy, &__dev
    letter-spacing: 1px
    text-transform: uppercase
    a
      border-color: #9091A9
      border-color: rgba(#9091A9, 0.5)
      &:hover
        color: $blue
        border-color: rgba($blue, 0.5)
    
  &__dev
    span
      color: $blue


.modal
  display: none
  z-index: 1
  position: relative
  background: #FBFBFB
  overflow: hidden
  &.--md
    width: 905px
    min-height: 410px
    padding: 115px 160px 95px
  &__close
    opacity: 0.3
    position: absolute
    top: 40px
    right: 45px
    width: 22px
    height: 22px
    transition: .3s
    cursor: pointer
    &:before, &:after
      content: ''
      width: 28px
      height: 4px
      position: absolute
      top: 50%
      left: 50%
      transition: .3s
      background: #363838
    &:before
      transform: translate(-50%, -50%) rotate(45deg)
    &:after
      transform: translate(-50%, -50%) rotate(-45deg)
    &:hover
      opacity: 1
      &:before, &:after
        background: $blue



.form
  width: 100%
  max-width: 555px
  margin: 0 auto
  &__main
    opacity: 0.07
    top: 11px
    left: 0
    // color: #00364E
    color: #C4C4C4
  &__subtitle
    margin-left: 0
    margin-bottom: 35px
  &__title
    margin-left: 0
    font-size: 51px
    line-height: 1
    font-weight: 500
    color: $blue
    letter-spacing: 0.045em
    text-transform: uppercase
    white-space: nowrap
    margin-bottom: 120px
  &__inner
    margin-left: -20px
    margin-right: -20px
  &__field
    width: calc(100% / 2 - 40px)
    margin-left: 20px
    margin-right: 20px
    margin-bottom: 42px
  &__button
    margin-top: 26px
    margin-left: auto
    margin-right: 20px

.thanks
  padding-top: 10px
  &__title
    text-align: center
    font-size: 23px
    font-weight: 500
    line-height: 1
    letter-spacing: 0.05em
    text-transform: uppercase
    max-width: 450px
    margin: 0 auto 18px
    background: linear-gradient(81.18deg, #0662BD 0.99%, #0183EA 111.07%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
  &__icon
    margin-bottom: -35px
    img
      margin: 0 auto


.first
  padding-top: 107px



.product
  &__wrap
    padding-top: 95px
    padding-bottom: 135px
  &__left
    width: calc(100% - 590px)
    padding-right: 40px
  &__desc
    margin-bottom: 48px
    max-width: 300px
    white-space: normal
    margin-left: 0
  &__title
    margin-left: 0
    font-size: 55px
    font-weight: 500
    line-height: 1
    background: linear-gradient(81.18deg, #0662BD 0.99%, #0183EA 111.07%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
    text-transform: uppercase
    margin-bottom: 55px
  &__text
    margin-bottom: 80px
    color: rgb(114, 116, 116)
    ul
      flex-direction: column
      align-items: flex-start
    li
      position: relative
      text-transform: uppercase
      padding-left: 20px
      font-size: 16px
      line-height: 20px
      font-weight: 500
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
      &:before
        content: ''
        position: absolute
        top: 50%
        left: 5px
        width: 4px
        height: 4px
        transform: translateY(-50%)
        background: rgb(114, 116, 116)
        border-radius: 50%
    // &:last-child
    //   margin-bottom: 0
  &__right
    width: 590px

  &__inner
    padding: 38px
    background: #FBFBFB
    margin-bottom: 20px
    &.--hidden
      display: none
    .product
      &__desc
        max-width: 440px
        text-align: center
        margin-left: auto
        margin-right: auto
        margin-bottom: 20px



  &__img
    display: flex
    align-items: center
    justify-content: center
    height: 420px
    &.--hidden
      display: none
    
  &__info
    font-size: 16px
    line-height: 20px
    color: rgba(114, 116, 116, 1)
    margin-bottom: 40px
    &:last-child
      margin-bottom: 0
    u
      color: $blue
      font-weight: 500
      text-transform: uppercase
    p
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
    ul
      align-items: flex-start
      flex-direction: column
    li
      position: relative
      padding-left: 12px
      &:before
        content: ''
        position: absolute
        top: 50%
        left: 0
        width: 4px
        height: 4px
        border-radius: 50%
        transform: translateY(-50%)
        background: rgba(114, 116, 116, 1)

      p
        margin-bottom: 10px
        &:last-child
          margin-bottom: 0
      u
        text-transform: none
    &-head
      position: relative
      padding-top: 4px
      padding-bottom: 4px
      padding-left: 32px
      margin-bottom: 15px
      &:last-child
        margin-bottom: 0
      &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        bottom: 0
        width: 7px
        background: linear-gradient(81.18deg, #0662BD 0.99%, #0183EA 111.07%)
    &-body
      p
        margin-bottom: 10px
        &:last-child
          margin-bottom: 0

.info
  padding-top: 120px
  padding-bottom: 95px
  &__main
    top: -125px
  &__title, &__subtitle
    margin-left: 0
  &__subtitle
    margin-bottom: 35px
  &__title
    max-width: 550px
    margin-bottom: 95px
  &__left, &__right
    width: calc(100% / 2)
  &__left
    padding-right: 15px
  &__text
    ul
      align-items: flex-start
      flex-direction: column
    li
      position: relative
      padding-left: 12px
      text-transform: uppercase
      font-weight: 500
      font-size: 16px
      line-height: 20px
      color: rgba(#363838, 0.7)
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
      &:before
        content: ''
        position: absolute
        top: 50%
        left: 0
        width: 4px
        height: 4px
        border-radius: 50%
        transform: translateY(-50%)
        background: rgba(#363838, 0.7)
  &__desc
    margin-top: 80px
    font-size: 16px
    line-height: 1.25
    color: #277885
    max-width: 595px


.images
  .images__cert
    display: none
  &__list
    margin: 0 -12px -24px
  &__item
    position: relative
    width: calc(100% / 4 - 24px)
    height: 220px
    margin: 0 12px 24px
    overflow: hidden
    &:nth-of-type(1)
      width: calc(100% - 24px)
      height: 625px
      margin-bottom: 30px
      &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: linear-gradient(0deg, rgba(38, 106, 169, 0.3), rgba(38, 106, 169, 0.3))

.order
  padding-top: 60px
  &__block
    display: flex
    flex-direction: column
  &__button
    display: flex
    margin-left: auto
    font-size: 17px
    line-height: 1.25
    font-weight: 700
    text-transform: uppercase
    background: linear-gradient(81.18deg, #0662BD 0.99%, #0183EA 111.07%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
    margin-bottom: 13px
  &__wrap
    &:before
      content: ''
      display: block
      width: 100%
      height: 7px
      background: linear-gradient(81.18deg, #0662BD 0.99%, #0183EA 111.07%)
      margin-bottom: 28px
  &__inner
    display: flex
    align-items: center
  &__icon
    display: flex
    align-items: center
    width: 62px
    height: 62px
  &__text
    max-width: 225px
    font-size: 15px
    line-height: 1.27
    margin-left: 13px
    text-transform: uppercase
    color: $blue
  &__title
    font-weight: 700
    margin-bottom: 10px

  &__policy
    margin-left: auto
    width: 120px
    &.--md
      .check
        &__box
          margin-left: auto
        &__title
          margin-left: 0


.data
  padding-top: 120px
  padding-bottom: 35px
  padding-left: 1px
  padding-right: 1px
  &__tables
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    margin-left: -20px
    margin-right: -20px
    .data
      &__table
        margin-left: 20px
        margin-right: 20px
        &:nth-of-type(1)
          width: calc(60% - 40px)
        &:nth-of-type(2)
          width: calc(40% - 40px)
        th, td
          width: calc(100% / 3)
  &__table
    width: calc(100% - 1px)
    margin-left: 1px
    text-align: center
    border-collapse: collapse
    border-bottom: 1px solid #EDEDED
    caption
      color: #727474
      font-size: 16px
      line-height: 24px
      text-align: center
      padding: 13px 0
      text-transform: uppercase
      font-weight: 500
      background: #F2F8FA
    th, td
      position: relative
      padding-left: 8px
      padding-right: 8px
      &:first-child
        padding-left: 0
      &:last-child
        padding-right: 0
      > div
        display: flex
        > div
          width: 50%
          padding-left: 5px
          padding-right: 5px
          &:nth-of-type(1)
            text-align: left
          &:nth-of-type(2)
            text-align: right
    th
      position: relative
      font-size: 14px
      line-height: 16px
      font-weight: 600
      color: $blue
      padding-top: 20px
      text-transform: uppercase
      padding-bottom: 26px
      background: #fff
      > div
        color: #727474
        font-size: 12px
        line-height: 11px
        font-weight: 500
        text-transform: none
        padding-top: 12px
      
      &:first-child
        &:after
          left: 0
      &:last-child
        &:after
          right: 0
      &:after
        content: ''
        display: block
        height: 7px
        position: absolute
        bottom: 0
        left: 8px
        right: 8px
        background: linear-gradient(81.18deg, #0662BD 0.99%, #0183EA 111.07%)
    td
      padding-top: 16px
      padding-bottom: 16px
      font-size: 16px
      line-height: 18px
      color: rgba(114, 116, 116, 1)
      > div
        font-size: 16px
        line-height: 18px
        > div 
          &:nth-of-type(1), &:nth-of-type(2)
            text-align: center
    tbody
      tr
        &:nth-of-type(even)
          td
            background: #F2F8FA
        &:nth-of-type(odd)
          td
            background: #fff
    &.--w3
      th, td
        width: calc(100% / 3)
    &.--bt
      border-top: 5px solid #EDEDED
    &.--f-col
      th
        &:nth-of-type(1)
          min-width: 165px
      td
        &:nth-of-type(1)
          font-size: 20px
          line-height: 18px
          color: $blue
          font-weight: 500



.props
  padding-top: 100px
  &__inner
    padding-top: 210px
    padding-bottom: 65px
    &:before
      z-index: -5
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: #F9F9F9
  &__main
    opacity: 0.02
    top: -125px
    color: #00364E
  &__subtitle, &__title
    margin-left: 0
  &__subtitle
    margin-bottom: 35px
  &__title
    max-width: 800px
    margin-bottom: 85px
  &__list
    max-width: 600px
    margin-left: auto
  &__item
    width: 50%
    padding-right: 40px
    margin-bottom: -15px
    &:last-child
      margin-bottom: 0
    &:nth-of-type(even)
      margin-left: auto
    &-count
      opacity: 0.2
      color: #8A8A8A
      font-size: 54px
      font-weight: 500
      line-height: 1
      letter-spacing: 0.05em
      margin-bottom: 10px
    &-title
      font-weight: 700
      line-height: 1.05
      letter-spacing: 3px
      text-transform: uppercase
      color: $blue
    &-text
      opacity: 0.7
      font-size: 16px
      line-height: 1.25
      color: #363838
      margin-top: 20px


.production
  &__inner
    padding-top: 155px
    padding-bottom: 220px
  &__main
    top: 25px
  &__subtitle
    margin-bottom: 35px
  &__title
    margin-bottom: 135px
  &__content, &__img-wrap
    width: calc(100% / 2)
  &__content
    padding-top: 65px
    padding-right: 70px
    color: #727474
    h4
      display: block
      text-transform: uppercase
      margin-bottom: 65px
    u
      color: $blue
      text-transform: uppercase
    ul
      margin-top: 20px
      align-items: flex-start
      flex-direction: column
    li
      position: relative
      padding-left: 12px
      &:before
        content: ''
        position: absolute
        top: 50%
        left: 0
        width: 4px
        height: 4px
        border-radius: 50%
        transform: translateY(-50%)
        background: rgba(114, 116, 116, 1)

  &__img-wrap
    padding-right: 64px
  &__img
    height: 558px
    
.steps
  padding-bottom: 240px
  &__main
    top: -125px
  &__subtitle
    margin-bottom: 35px
  &__title
    margin-bottom: 255px
  &__item
    position: relative
    display: flex
    align-items: center
    margin-bottom: -35px
    &:after
      z-index: 1
      content: ''
      position: absolute
      top: 50%
      height: 100%
      left: 50%
      width: 2px
      margin-top: -20px
      background: $blue
    &:nth-last-of-type(2)
      margin-bottom: 0
      &:after
        display: none
    &:nth-of-type(even)
      .steps
        &__img
          order: 3
        &__control
          order: 2
        &__content
          order: 1
          text-align: right
          justify-content: flex-end
        &__text
          margin-left: auto
  &__img
    width: 517px
    min-width: 517px
    height: 517px
    border-radius: 50%
    overflow: hidden
  &__control
    display: flex
    align-items: center
    justify-content: center
    width: 146px
    min-width: 146px
  &__dot
    z-index: 2
    position: relative
    width: 42px
    height: 42px
    border: 15px solid $blue
    border-radius: 50%
    background: #fff
    &:before
      opacity: 0.4
      content: ''
      position: absolute
      top: 50%
      left: 50%
      width: 100px
      height: 100px
      border: 1px solid $blue
      border-radius: 50%
      transform: translate(-50%, -50%)
  &__content
    display: flex
    flex-direction: column
    width: calc(100% - 517px - 146px)
  &__count
    opacity: 0.05
    font-size: 170px
    line-height: 1
    font-weight: 900
    color: #00364E
    text-transform: uppercase
    margin-bottom: 11px
  &__text
    // max-width: 406px
    font-weight: 700
    line-height: 1.05
    letter-spacing: 3px
    color: $blue
    text-transform: uppercase
  &__feedback
    display: flex
    align-items: center
    justify-content: center
    padding-right: 268px
    &-btn
      margin-right: 56px


.desc
  &__item
    display: flex
    flex-wrap: wrap
    margin-bottom: 60px
    &:last-child
      margin-bottom: 0
    &:nth-of-type(odd)
      .desc
        &__content
          padding-left: 55px
          padding-right: 60px
    &:nth-of-type(even)
      .desc
        &__img
          order: 2
        &__content
          order: 1
          padding-right: 95px
  &__img, &__content
    width: calc(100% / 2)
  &__img
    min-height: 460px
  &__content
    color: #727474
    font-size: 16px
    line-height: 20px
    padding-top: 60px
    h3
      display: block
      font-size: 20px
      line-height: 21px
      font-weight: 700
      text-transform: uppercase
      letter-spacing: 3px
      margin-bottom: 44px
      color: $blue
    u
      color: $blue
      font-weight: 500
      text-transform: uppercase
    p
      margin-bottom: 28px
      &:last-child
        margin-bottom: 0
    blockquote
      display: block
      font-size: 16px
      line-height: 1.05
      font-weight: 500
      color: #727474
      letter-spacing: 4px
      text-transform: uppercase
      margin-right: -40px
  &__feedback
    margin-top: 44px

.feedback
  display: flex
  align-items: flex-start
  flex-direction: column
  &__check
    max-width: 145px
    margin-top: 28px




.certs
  padding-top: 210px
  padding-bottom: 10px
  &__main
    top: -125px
  &__subtitle
    margin-bottom: 35px
  &__title
    margin-bottom: 170px
  &__item
    width: calc(100% / 4)
    // margin: 0 15px 40px
    color: #C0C0C0
    font-size: 15px
    line-height: 1.27
    text-transform: uppercase
    padding-right: 40px
    &:hover
      color: $blue
      .certs
        &__item
          &-img
            img
              &:nth-of-type(1)
                opacity: 0
              &:nth-of-type(2)
                opacity: 1

    &-img
      position: relative
      margin-bottom: 38px
      img
        transition: .3s
        &:nth-of-type(2)
          opacity: 0
          position: absolute
          top: 0
          left: 0
    &-name
      font-weight: 600
      margin-bottom: 10px


.contacts
  &__inner
    padding-top: 160px
    padding-bottom: 140px
  &__main
    top: 40px
  &__subtitle
    margin-bottom: 35px
  &__title
    margin-bottom: 175px
  &__content
    width: 590px
  &__list
    display: flex
    flex-wrap: wrap
  &__item
    width: 50%
    margin-bottom: 50px
    &.--full
      width: 100%
  &__map
    width: calc(590px + 200px)
    margin-right: -200px
    [class*="ymaps-2"][class*="-ground-pane"]
      filter: grayscale(100%)
      -webkit-filter: grayscale(100%)
      -moz-filter: grayscale(100%)
      -ms-filter: grayscale(100%)
      -o-filter: grayscale(100%)
      filter: gray


.contact
  &__title
    font-size: 20px
    line-height: 1.05
    font-weight: 700
    color: #9091A9
    letter-spacing: 3px
    text-transform: uppercase
    margin-bottom: 25px

.news-item
  &__inner
    padding-top: 155px
    padding-bottom: 140px
  &__main
    top: 25px
  &__subtitle
    margin-bottom: 35px
  &__title
    margin-bottom: 90px
  &__img
    width: 100%
    height: 690px
  &__text
    padding-top: 65px
    font-weight: 400
    color: #727474
    u
      color: $blue
      text-transform: uppercase
      font-weight: 500
    p
      margin-bottom: 17px
      &:last-child
        margin-bottom: 0


@media screen and (max-height: 665px) and (min-width: 768px)
  .nav
    &__wrap
      padding-top: 100px
    &__company
      display: none
    &__link
      line-height: 35px
    &__sub
      padding-top: 0
      padding-bottom: 15px
  
@media screen and (max-width: 1400px)
  .contacts
    &__map
      width: 50%
      margin-right: 0

@media screen and (max-width: 1210px)
  .case
    max-width: 960px

  .lines
    display: none

  .nav
    &__blocks
      display: none

  .panel
    &__desc
      margin-right: 40px
    &__phone
      margin-right: 40px
    &__ham
      margin-right: -465px

  .intro
    &__desc
      letter-spacing: 13.5px
      margin-bottom: 20px
    &__name
      font-size: 140px


  .h1, .h2
    margin-left: 0


  .advantages
    &.--steps
      padding-bottom: 50px
    &__item
      margin-left: 0

  .advantage
    &__head
      flex-direction: column
    &__name
      margin-left: 0
    &__title
      font-size: 17px
      letter-spacing: 2px
      min-height: 42px
      margin-bottom: 15px
    &__text
      br
        display: none

  .catalog
    &__item
      &-count
        width: 120px
        min-width: 120px
      &-content
        margin-left: 40px
      &-arrow
        margin-right: 0


  .consult
    &__left
      width: 40%
    &__right
      width: 60%

  .geo
    &__map
      width: 1000px


  .desc
    &__content
      blockquote
        br
          display: none

  .steps
    padding-bottom: 130px
    &__title
      margin-bottom: 120px
    &__item
      margin-bottom: 50px
      &:after
        left: 49px
        height: calc(100% + 30px)
        margin-top: 0
    &__control
      order: 1 !important
      width: 100px
      min-width: 100px
      height: 100px
    &__img
      order: 2 !important
      width: 400px
      min-width: 400px
      height: 400px
      margin-left: 50px
      margin-right: 50px
    &__content
      align-items: flex-start !important
      order: 3 !important
    &__text
      text-align: left !important
    &__feedback
      margin-top: 45px


  .contacts
    &__title
      margin-bottom: 75px
    &__map
      width: 100%
      height: 450px
      margin-right: 0
      margin-top: 50px

  .product
    &__left
      width: 50%
    &__title
      font-size: 44px
      line-height: 52px
      margin-bottom: 30px
    &__right
      width: 50%

  .data__table.--f-col th:nth-of-type(1)
    min-width: 115px
  
  .footer
    &__bot
      .footer
        &__left, &__mid, &__right
          width: calc(100% / 3)
        &__mid
          text-align: center
        &__right
          text-align: right

@media screen and (max-width: 991px)
  .case
    max-width: 750px


  .nav
    &__company
      display: none

  .panel
    &__email
      display: none
    &__ham
      margin-right: -360px

  .intro
    &__foot
      padding-left: 0

  .h0
    display: none

  .h2
    margin-bottom: 20px


  .advantages
    &.--steps
      .advantages
        &__item
          &:nth-of-type(2n)
            margin-top: 0
    &__inner
      padding-top: 70px
      padding-bottom: 70px
    &__list
      margin-bottom: -40px
    &__title
      margin-bottom: 40px
    &__item
      width: calc(100% / 2)
      
  .catalog
    padding-top: 0px
    padding-bottom: 80px
    &__title
      margin-bottom: 40px
    &__item
      &-count
        width: 90px
        min-width: 90px
      &-img
        width: 250px
        min-width: 250px
        height: 250px
      &-content
        margin-left: 25px
        br
          display: none
      &-title
        margin-bottom: 20px
      &-arrow
        width: 60px
        min-width: 60px
        height: 60px

  .consult
    padding-top: 0
    padding-bottom: 0px


  .geo
    padding-bottom: 0

  .news
    padding-top: 70px
    padding-bottom: 40px
    &__title
      margin-bottom: 40px


  .production
    &__inner
      padding-top: 70px
      padding-bottom: 85px
    &__title
      margin-bottom: 40px
    &__content
      padding-top: 0
      h4
        margin-bottom: 30px
    &__img-wrap
      padding-right: 0
    &__img
      height: 100%


  .steps
    padding-bottom: 30px
    &__item
      &:after
        left: 21px
    &__control
      width: 42px
      min-width: 42px
    &__dot
      &:before
        display: none
    &__img
      width: 340px
      min-width: 340px
      height: 340px
      margin-left: 30px
      margin-right: 30px
    &__content
      width: 100%
    &__count
      font-size: 140px
    &__text
      font-size: 18px
      line-height: 22px
    &__feedback
      padding-right: 110px

  .certs
    padding-top: 120px
    &__title
      margin-bottom: 40px

  .product
    &__wrap
      padding-top: 70px
      padding-bottom: 70px
    &__left
      width: 100%
      padding-right: 0
      margin-bottom: 20px
    &__title
      margin-bottom: 15px
    &__img
      img
        margin-left: auto
        margin-right: auto
    &__text
      margin-bottom: 30px
    &__inner
      display: none
      &.--hidden
        display: block
    &__info
      br
        display: none
    &__right
      width: 100%

  .info
    padding-top: 40px
    padding-bottom: 70px
    &__title
      margin-bottom: 40px
    &__desc
      margin-top: 40px

  .images
    &__item
      height: 169px
      &:nth-of-type(1)
        height: 470px
        margin-bottom: 20px


  .order
    padding-bottom: 80px
  
  .props
    padding-top: 0
    &__inner
      padding-top: 70px
    &__list
      margin-right: auto

  .data
    padding-top: 70px
    &__table
      &.--overflow-sm
        display: block
        overflow-x: auto

  .contacts
    &__inner
      padding-top: 70px
      padding-bottom: 70px
    &__title
      white-space: nowrap
      font-size: 72px

  .news-item
    &__inner
      padding-top: 70px
      padding-bottom: 70px
    &__title
      font-size: 70px
      margin-bottom: 40px
    &__img
      height: 400px


  .modal
    &.--md
      width: 700px
      padding: 60px
    &__close
      top: 30px
      right: 30px

  .form
    &__subtitle
      font-size: 16px
      margin-bottom: 10px
    &__title
      font-size: 42px
      line-height: 50px
      margin-bottom: 30px
  
@media screen and (max-width: 767px)
  .case
    max-width: 100%


  .nav
    top: 63px
    overflow-y: auto
    &__wrap
      align-items: flex-start
      justify-content: flex-start
      padding-top: 35px
    &__left, &__right
      width: 100%
    &__left
      align-items: center
      justify-content: center
      text-align: center
      order: 2
      height: auto
      margin-top: 40px
      padding-bottom: 45px
      &:before
        display: block
        opacity: .3
        content: ''
        width: 140px
        height: 1px
        margin: 0 auto 38px
        background: #C4C4C4
    &__socials
      .socials
        &__list
          justify-content: center
    &__list
      display: block
    &__item
      display: block
      &.--has-nav
        .nav
          &__link
            padding-right: 0
            &:after
              display: none
    &__link
      font-size: 16px
      line-height: 42px
      text-align: center
      display: block
    &__sub
      padding-top: 0
      padding-bottom: 15px
      display: block
      .nav
        &__link
          font-size: 12px
          line-height: 25px
          letter-spacing: 0.02em
    &__right
      order: 1


  .panel
    padding-top: 20px
    padding-bottom: 20px
    background: #fff !important
    border-bottom: 1px solid #C4C4C4 !important
    &__logo
      display: block
      margin-top: 0
      img
        position: static
        &:nth-of-type(1)
          display: none
        &:nth-of-type(2)
          opacity: 1 !important
    &__ham
      top: 21px
      right: 15px
      margin-right: 0
      div
        background: $blue !important

    &__desc, &__phone
      display: none


  .intro
    padding-top: 205px
    padding-bottom: 150px
    height: auto
    min-height: 1px
    &__desc
      font-size: 14px
      line-height: 1
      letter-spacing: 15px
      max-width: 240px
      margin-bottom: 36px
    &__name
      font-size: 77px
      line-height: 1
      letter-spacing: 19px
    &__text
      font-size: 15px
      line-height: 1.54
      font-weight: 400
      letter-spacing: 0.02em
      margin-left: 0
      max-width: 265px
    &__foot
      margin-top: 75px
    &__volume
      display: none


  .h1
    font-size: 29px
    line-height: 1

  .h2
    font-size: 10px
    line-height: 12.5px
    letter-spacing: 6px
    margin-bottom: 18px


  .advantages
    &__inner
      padding-top: 50px
      padding-bottom: 20px
      border-bottom: 1px solid rgba(0,0,0,0.15)
    &__title
      margin-bottom: 37px
    &__list
      margin-bottom: -30px
    &__item
      margin-bottom: 30px

  .advantage
    &__head
      margin-bottom: 16px
    &__count
      padding-top: 0
      font-size: 29px
      font-weight: 500
      line-height: 1
      margin-bottom: 9px
    &__name
      font-size: 14px
      line-height: 1.2
      letter-spacing: 2px
    &__text
      font-size: 13px
      line-height: 1.25
    &__title
      font-size: 14px
      min-height: 30px
      margin-bottom: 10px
      letter-spacing: 1px
      

  .catalog
    padding-bottom: 50px
    &__title
      margin-bottom: 0px

    &__item
      &-inner
        flex-wrap: wrap
        padding-top: 35px
        padding-bottom: 35px
      &-count
        width: 100%
        font-size: 29px
        line-height: 1
        margin-bottom: 9px
        padding-left: 0
      &-title
        font-size: 14px
        line-height: 1.2
        letter-spacing: 3px
        display: none
        &.--hidden
          display: block
      &-img
        width: 100%
        margin-bottom: 38px
      &-content
        max-width: calc(100% - 60px)
        font-size: 14px
        line-height: 1.25
        margin-left: 0
        padding-right: 20px
        br
          display: none
      &:first-of-type
        .catalog
          &__item
            &-inner
              border-top: none
            
  .consult 
    &__title
      margin-bottom: 10px
    &__left
      width: 100%
      margin-bottom: 40px
    &__right
      width: 100%
      padding-left: 0
    &__form
      margin-left: 0
      margin-right: 0
      margin-bottom: 0
    &__field
      width: 100%
      margin-left: 0
      margin-right: 0
      margin-bottom: 32px
    &__grp
      margin-left: 0
      margin-right: 0
      height: 120px
      
  .geo
    padding-top: 65px
    &__title
      margin-bottom: -29px
    &__map
      width: 700px
    
  .news
    padding-top: 50px
    padding-bottom: 50px
    .case
      padding-left: 9px
      padding-right: 9px
    &__subtitle, &__title
      padding-left: 6px
      padding-right: 6px
    &__title
      margin-bottom: 25px
    &__item
      opacity: 1
      display: block
      width: 160px
      padding-left: 6px
      padding-right: 6px
      pointer-events: auto
      &-img
        width: 100%
        height: 180px
      &-content
        padding: 23px 0 0
        width: 100%
      &-title
        font-size: 14px
        line-height: 1.2
        margin-bottom: 10px
      &-date
        font-size: 12px
        line-height: 15px

  .footer
    &__top
      padding-top: 37px
      padding-bottom: 20px
    &__left, &__mid
      width: 100%
    &__company
      display: flex
      align-items: center
      width: 100%
      padding-bottom: 25px
      border-bottom: 1px solid rgba(0,0,0,0.1)
    &__logo
      width: 80px
    &__desc
      display: block
      font-weight: 400
    &__phone
      font-size: 23px
      line-height: 1.5
      letter-spacing: 2px
      margin-top: 5px
    &__email
      font-size: 12px
      line-height: 1.64
      font-weight: 500
    &__address
      margin-top: 11px
      padding-top: 12px
      font-size: 12px
      line-height: 1.3
      font-weight: 500
      border-top: 1px solid rgba(0,0,0,0.1)
      // border-bottom: 1px solid rgba(0,0,0,0.1)
      text-transform: none
      br
        display: none
    &__right
      display: flex
      align-items: center
      margin-top: 27px
    &__links
      display: block
      font-size: 10px
      line-height: 1.64
      a
        color: #9091A9
        &:hover
          color: $blue
    &__policy
      margin-bottom: 5px
    &__socials
      margin-top: 0
      margin-left: auto
      .socials
        &__list
          justify-content: flex-end
    &__bot
      padding-top: 8px
      padding-bottom: 8px
      .footer
        &__left
          width: 100%
        &__mid, &__right
          display: none

  .first
    padding-top: 63px

  .product
    &__wrap
      padding-top: 40px
      padding-bottom: 20px
      border-bottom: 1px solid rgb(0,0,0,.15)
    &__desc
      margin-bottom: 18px
    &__title
      font-size: 29px
      line-height: 1
      margin-bottom: 20px
    &__inner
      margin-left: -15px
      margin-right: -15px
      padding: 23px 17px 5px
      margin-bottom: 30px
      .product__desc
        margin-bottom: 5px
        text-align: left
        max-width: 100%
    &__img
      max-height: 305px
    
    &__text
      padding-bottom: 30px
      border-bottom: 1px solid rgb(0,0,0,.15)
      li
        font-size: 14px
        line-height: 20px
        margin-bottom: 4px
    &__info
      font-size: 14px
      line-height: 20px
      margin-bottom: 30px
      &-head
        padding-top: 0
        padding-bottom: 0
      p
        margin-bottom: 10px
  
  .info
    padding-top: 65px
    padding-bottom: 0
    &__title
      margin-bottom: 30px
    &__left
      padding-right: 0
      width: 100%
      margin-bottom: 25px
    &__right
      width: 100%
    &__text
      li
        margin-bottom: 4px
        &:before
          top: 8px
          transform: none
    &__desc
      margin-top: 30px

  .images
    padding-top: 70px
    .images__cert
      display: flex
      margin-bottom: 28px
    &__list
      flex-wrap: nowrap
      overflow-x: auto
      margin: 0
    .images__item
      width: 267px
      min-width: 267px
      height: 267px
      margin-left: 0px
      margin-right: 32px
      margin-bottom: 0
      &:last-of-type
        margin-right: 0


  .order
    padding-top: 35px
    padding-bottom: 20px
    &__desc
      color: #848585
    &__button
      margin-left: 0
    &__wrap
      .order
        &__inner
          display: none
        &__policy
          margin-left: 0
          width: 100%
          .check
            &__wrap
              display: flex
              align-items: center
            &__box
              margin-left: 0
              margin-right: 5px

  .props
    padding-top: 30px
    &__inner
      padding-top: 50px
      padding-bottom: 50px
    &__title
      margin-bottom: 30px
    &__item
      padding-right: 0
      margin-bottom: 20px
      &-title
        font-size: 14px
        line-height: 1.05
        letter-spacing: 0.02em
        br
          display: none
      &-text
        margin-top: 10px
        font-size: 14px
        line-height: 1.25
        letter-spacing: 0.02em
        
  .data
    padding-top: 60px
    &__tables
      margin-left: 0
      margin-right: 0
      .data
        &__table
          width: 100% !important
          margin-left: 0 !important
          margin-right: 0 !important
          margin-bottom: 40px
          border-top: 4px solid rgba(#C4C4C4, 0.3)
          &:last-child
            margin-bottom: 0

  .desc
    &__item
      display: block
      margin-bottom: 45px
    &__img
      width: 100%
      height: 325px
      margin-bottom: 20px
    &__content
      padding: 0 !important
      width: 100%
      h3
        font-size: 18px
        line-height: 20px
        letter-spacing: 1.5px
        margin-bottom: 20px
      p
        margin-bottom: 20px

      blockquote
        color: #277885
        font-size: 10px
        line-height: 12.5px
        padding-top: 16px
        padding-bottom: 16px
        letter-spacing: 5px
        border-top: 1px solid rgba(0,0,0,0.15)
        border-bottom: 1px solid rgba(0,0,0,0.15)
    &__feedback
      padding-bottom: 30px
      border-bottom: 1px solid rgba(0,0,0,0.15)
    

  .certs
    padding-top: 60px
    &:after
      content: ''
      display: block
      margin-top: 23px
      margin-left: 15px
      margin-right: 15px
      border-bottom: 1px solid rgba(0,0,0,0.15)
    &__title
      margin-bottom: 25px
    &__list
      margin-bottom: -24px
    &__item
      width: calc(100% / 2)
      padding-right: 5px
      margin-bottom: 24px
      &-img
        width: 94px
        height: 94px
        margin-bottom: 14px

  .production
    &__inner
      padding-top: 40px
      padding-bottom: 25px
      border-bottom: 1px solid rgba(0,0,0,0.15)
    &__title
      margin-bottom: 30px
    &__img-wrap
      order: 1
      width: 100%
      height: 345px
    &__content
      order: 2
      margin-top: 30px
      width: 100%
      font-size: 14px
      line-height: 20px
      padding-right: 0
      br
        display: none
      u
        font-weight: 500
      h4
        font-size: 15px
        line-height: 28px
        margin-bottom: 30px

  .steps
    padding-top: 60px
    &__title
      margin-bottom: 45px
    &__item
      position: relative
      flex-wrap: wrap
      margin-bottom: 55px
      &:after
        left: 17px
        top: 100px
        height: calc(100% + 30px)
    &__control
      width: 35px
      min-width: 35px
    &__dot
      width: 35px
      height: 35px
      border-width: 12px
    &__img
      width: 170px
      min-width: 170px
      height: 170px
    &__count
      position: absolute
      top: 120px
      left: 210px
      font-size: 50px
      line-height: 50px
    &__content
      width: 100%
    &__text
      font-size: 13px
      line-height: 1.05
      letter-spacing: 1px
      margin-left: 100px !important
      margin-top: 24px
      max-width: 260px
      br
        display: none

    &__feedback
      padding-right: 0
      justify-content: flex-start
      &-btn
        margin-right: 0
        margin-left: 28px
        order: 2



  .contacts
    &__inner
      padding-top: 40px
      padding-bottom: 0px
    &__title
      margin-bottom: 45px
    &__map
      // order: 1
      margin-top: 0
      margin-bottom: 35px
      height: 340px
      width: calc(100% + 30px)
      max-width: calc(100% + 30px)
      margin-top: 40px
      margin-left: -15px
      margin-right: -15px
      margin-bottom: 0
    &__content
      // order: 2
      width: 100%
    &__list
      margin-left: -5px
      margin-right: -5px
    .contacts__item
      width: calc(50% - 10px)
      margin-left: 5px
      margin-right: 5px

  .contact
    &__title
      font-size: 14px
      line-height: 14px
      margin-bottom: 16px
    &__inner
      opacity: 0.7
      font-size: 14px
      line-height: 1.25

  .news-item
    &__inner
      padding-top: 40px
      padding-bottom: 50px
    &__title
      margin-bottom: 30px
    &__img
      width: auto
      height: 280px
      margin-left: -15px
      margin-right: -15px
    &__text
      font-size: 14px
      line-height: 20px
      padding-top: 34px

  .modal
    &.--md
      max-width: 100%
      min-height: 1px
      width: 100%
      padding: 70px 15px 40px
    &__close
      &:before, &:after
        height: 2px


  .form
    &__title
      margin-bottom: 35px
      font-size: 25px
      line-height: 30px
    &__inner
      margin-left: 0
      margin-right: 0
    &__field
      width: 100%
      margin-left: 0
      margin-right: 0
    &__button
      margin-left: 0
      margin-top: 0

  .thanks
    &__title
      margin-bottom: 10px
      br
        display: none
    &__icon
      width: 120px
      margin-left: auto
      margin-right: auto
